* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/*-------- Common --------*/
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - -48px);
}

a {
  text-decoration: none;
}

.heading {
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #171100;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  background: #171100;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/*-------- Header --------*/
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -32px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header .nav a {
  font-size: 1.6rem;
  color: #5f5b53;
  padding: 8px 21px;
  position: relative;
}

.header a:hover,
.header li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.header li.active a::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  left: 21px;
}

.header .sign-up-btn {
  min-width: 144px;
  margin-left: 49px;
}

/*-------- Hero --------*/
.hero {
  background: #fffcf4;
  padding: 56px 0 65px;
}

.hero .body {
  display: flex;
}
/* Hero Left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  background: url(guy-lesson.jpg);
  border-radius: 20px;
  display: block;
}

.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

/* Hero Right */
.hero .content-block {
  width: 52%;
  margin-top: 64px;
  margin-left: 130px;
}

.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.content-block .cta-group {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}

.cta-group .hero-cta {
  width: 180px;
  line-height: 64px;
  background: var(--primary-color);
  border-radius: 32px;
  font-size: 1.8rem;
}

.cta-group .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.watch-video .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  margin: 0 8px 0 28px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}

/*-------- Popular --------*/
/* Popular Top */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  margin-top: 16px;
  font-size: 1.8rem;
  line-height: 1.67;
  width: 458px;
  color: #5f5b53;
}

.popular .control {
  display: flex;
  gap: 18px;
}

.popular .control-btn {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

/* Popular Bottom */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  background: #ffffff;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}

.popular .course-item:hover {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.popular .course-item .thumb {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.course-item .foot,
.course-item .rating,
.course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-item .head .title a {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
  padding-right: 6px;
}

.course-item .value {
  margin-left: 6px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fea31b;
}

.course-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.course-item .foot {
  margin-top: 12px;
}

.course-item .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.course-item .book-btn {
  border: none;
}

.course-item .book-btn:hover {
  background: #ffb900;
}
/*-------- Feedback --------*/
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback .feedback-list {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.feedback .feedback-item {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  transform: translateX(-100%);
  transition: all ease 0.3s;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback-item .title {
  margin-top: 18px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #f7f7f7;
}

.feedback-item .desc {
  margin-top: 4px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb3;
}

.feedback-item .dots {
  margin-top: 28px;
  display: flex;
}

.feedback-item .dot.active {
  background: #ffb900;
  cursor: default;
}

.feedback-item .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .content {
  width: 66%;
}

.feedback-item blockquote {
  margin-left: 28px;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}
/*-------- Feature 1 --------*/
.features {
  padding: 65px 0;
  margin-top: 135px;
}

.features .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features .images {
  display: flex;
  gap: 0 30px;
}

.features img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}

.features img.lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
}

.features .content .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}

.features .content .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  background: #ffb900;
  color: #fff;
}
/*-------- Feature 2 --------*/
.features-2nd {
  margin-top: 70px;
}

.features-2nd .content {
  width: 49%;
}

.features.features-2nd img {
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 16px;
}
/*-------- Blog --------*/
.blog {
  margin-top: 135px;
  background: #fffcf4;
  padding: 96px;
}

.blog .blog-top {
  text-align: center;
}

.blog .blog-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
  overflow: hidden;
}

.blog .item {
  background: #fff;
  border-radius: 16px;
  width: calc(33.33% - 20px);
  flex-shrink: 0;
}

.blog .item:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .item .info {
  padding: 20px 20px 28px;
}

.blog .item .date {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-bottom: 12px;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.blog .item .date::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  background: var(--primary-color);
}

.blog .item .date::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  right: -27px;
  bottom: 0;
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
}

.blog .main-content .desc {
  margin: 16px auto auto;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
  width: 448px;
}

.blog .main-content .thumb {
  width: 370px;
  height: 250px;
  object-fit: cover;
  background: #fffcf4;
  border-radius: 16px;
  border-radius: 16px 16px 0px 0px;
}

.blog .item .title a {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}

.blog .item .btn {
  font-size: 1.4rem;
}

.blog .item .btn:hover {
  background: var(--primary-color);
}

.blog .dots {
  margin-top: 38px;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.blog .dots .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blog .dots .dot.active {
  cursor: default;
  background: var(--primary-color);
}
